@import "tailwindcss";

.text-stroke1 {
    color: #1b1b1b;
    transition: all 0.3s ease;
  }
  .text-stroke1:hover {
    -webkit-text-stroke: 1.5px #1b1b1b;
    color: transparent;
    transition: all 0.3s ease;
  }
  .text-stroke1:hover ~ .text-stroke2 {
    color: #1b1b1b!important;
  }


  .text-stroke2 {
    -webkit-text-stroke: 1.5px #1b1b1b;
    color: transparent;
    transition: all 0.3s ease;
  }
  /* .text-stroke2:hover {
    -webkit-text-stroke: 1px #1b1b1b;
    color: #1b1b1b;
  } */



  .hero-btn-1{
    transition: all 0.3s ease;
    border: 1.5px solid #1b1b1b;
  }
   .hero-btn-1:hover{
     border: 1.5px solid #1b1b1b;

   }
   .hero-btn-2{
    transition: all 0.3s ease;
    border: 1.5px solid #1b1b1b;
    
  }
   .hero-btn-2:hover{
     border: 1.5px solid #1b1b1b;
   }












   .text-stroke3{
    -webkit-text-stroke: 1.5px #1b1b1b;
    color: transparent;
   }


   /* .theImageSection{
    z-index: 0;
   }
   .imageShowHover:hover + .theImageSection{
    z-index: 10;
   } */








   /* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
